<%= form_for(@skill) do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @skill.errors.count %>件のエラーがあります。</h2>

      <ul>
        <% @skill.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  タイトル
  <%= f.text_field :title, { class: "form-control title-field" } %>
  <%= f.submit "保存", { class: "btn primary-btn" } %>
<% end %>