<li>
    <%= image_for(skill.user) %>
    <span class="user-name">
        <%= skill.user.name %>
    </span>
    <span class="content">
        <%= link_to skill.title, skill_path(skill.id) %>
        <div>
          <small>
            <!--<%= @skill.likes.count %>人がいいね！といっています-->
            <%= link_to skill.likes.count, liking_users_skill_path(skill.id), id: "like-count" %>人がいいね！といっています
            
          </small>
        </div>
    </span>
</li>