<p id="notice" class="alert alert-success">
  <%= notice %>
</p>

<h2>スキル</h2>
<p><%= @skill.title %></p>


<div id="like-link">
  <%= render "likes/like_links", skill: @skill %>
</div>

<div>
  <small>
    <!--<%= @skill.likes.count %>人がいいね！といっています-->
    <%= link_to @skill.likes.count, liking_users_skill_path(@skill.id), id: "like-count" %>人がいいね！といっています
  </small>
</div>

<% if current_user?(@skill.user) %>
  <%= link_to "編集", edit_skill_path(@skill.id), class: "btn edit-btn" %>
  
  <%= link_to "削除", skill_path(@skill.id), method: "delete", class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？" %>
<% end %>