<p id="notice" class="alert alert-success">
  <%= notice %>
</p>

<h2>スキル</h2>
<p><%= @skill.title %></p>


<div>

  <% if current_user.likes.find_by(skill_id: @skill.id) %>
    <%= link_to 'いいね！を取り消す', unlike_path(@skill.id), method: :delete %>
  <% else %>
    <%= link_to 'いいね！', like_path(@skill.id), method: :post %>
  <% end %>
  
</div>

<div>
  <small>
    <!--<%= @skill.likes.count %>人がいいね！といっています-->
    <%= link_to @skill.likes.count, liking_users_skill_path(@skill.id) %>人がいいね！といっています
  </small>
</div>

<% if current_user?(@skill.user) %>
  <%= link_to "編集", edit_skill_path(@skill.id), class: "btn edit-btn" %>
  
  <%= link_to "削除", skill_path(@skill.id), method: "delete", class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？" %>
<% end %>